.button{
    font-size: 30px;
    color: #f6f6f6;
    border-radius: 180px;
    padding: 1.5px 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #333333;
}